<%- include('partials/header') %>

<div class="container mt-5">
    <h1>Register</h1>

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">

                    <!-- makes post request to /register route -->
                     <form action="/register" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="username" id="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" required>
                            <input type="checkbox" onclick="myFunction()" placeholder="show"> show password
                        </div>
                        <hr>
                        <button id="rgs" type="submit" class="btn btn-dark">Register</button>
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function isEmail(username){
    var regex= /^[a-zA-Z0-9_.+\-]+@+[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$/;
    return regex.test(username);
}
function isStrongPassword(password) {
  var minLength = 8;
  var hasUpperCase = /[A-Z]/.test(password);
  var hasLowerCase = /[a-z]/.test(password);
  var hasNumber    = /[0-9]/.test(password);
  var hasSpecial   = /[!@#$%^&*(),.?":{}|<>]/.test(password);
  return password.length >= minLength &&
         hasUpperCase &&
         hasLowerCase &&
         hasNumber &&
         hasSpecial;
}
function myFunction() {
      var x = document.getElementById('password');
      if (x.type === 'password') {
        x.type = 'text';
      }
      else {
        x.type = 'password';
       }
    }
document.getElementById("rgs").addEventListener("click", function(event){
    var email = document.getElementById("username").value;
    var pass = document.getElementById("password").value;
    var errormessage = "";

    if (!isEmail(email)) {
        errormessage += "Invalid email. ";
    }
    if (!isStrongPassword(pass)) {
        errormessage += "Weak password. ";
    }

    if (errormessage !== "") {
        alert(errormessage);
        event.preventDefault(); // stop form submission
    }
});
</script>

<%- include('partials/footer') %>
