<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container">
        <!-- <i class="fas fa-key fa-6x"></i> -->
         <ion-icon id="ky" name="key"></ion-icon>
        <h1 class="display-3">You've Discover My secret!</h1>
        <p class="secret-text">I love to study that subject.</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/login" role="button">Log Out</a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a secret</a>
    </div>
</div>

<%- include('partials/footer') %>